*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}


.cabecalho{
    background-color: #FB5691;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabecalho-imagem{
    width: 10%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
}

.descrição-imagem{
    width: 22%;
}

.descrição{
    background-image: linear-gradient(#FB5691, #f87ea8);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
}

.descrição-div-conteudo{
    width: 35%;
}

.descrição-titulo{
    padding: 19px 0;
}